<!-- Gallery Section -->
	<section class="success" id="gallery">
	    <div class="container">
		    <div id="links">
		        <!-- todo: dinamic from files --!>
                        <a href="images/banana.jpg" title="Banana">
                            <img src="images/thumbnails/banana.jpg" alt="Banana">
                        </a>
                        <a href="images/apple.jpg" title="Apple">
                            <img src="images/thumbnails/apple.jpg" alt="Apple">
                        </a>
                        <a href="images/orange.jpg" title="Orange">
                            <img src="images/thumbnails/orange.jpg" alt="Orange">
                        </a>
                    </div>
                <div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel">
		    <div class="slides"></div>
                    <h3 class="title"></h3>
                    <a class="prev">‹</a>
                    <a class="next">›</a>
                    <a class="close">×</a>
                    <a class="play-pause"></a>
                    <ol class="indicator"></ol>
                </div>
		<script>
                   blueimp.Gallery(
                       document.getElementById('links').getElementsByTagName('a'),
                       {
                           container: '#blueimp-gallery-carousel',
                           carousel: true
                       }
                   );
                </script>
		<script src="static/js/blueimp-gallery.min.js"></script>
	    </div>
	</section>
